<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server,
  -- they appear above the rest of the content, just until the next
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.)
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form" action="/new" method="POST">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
  <div class="row">
  <div class="col-md-12">
  <table class="control_time_table">
      <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
      </tr>
   {% for row in range(20) %}
    <tr class="control">
      <!-- Dist (mi) -->
      <td><input name="miles" type="text"
           min="0" max="900" size="5" /></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text"
	   min="0" max="1100" size="5" /> </td>
      <!-- Location (optional) -->
      <td><input name="location" type="text"
        placeholder="Optional location name"
	size="20" /> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" value="" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" value="" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td class="notes">&nbsp;</td>
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
  <br />
  <input type="submit" name="submit"></input>
  <button type="button" onclick="handleOnClick()">Display</button>
</form>

<script type="text/javascript">

  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
  var DISPLAY_URL = SCRIPT_ROOT + "/display";
  var SUBMIT_URL = SCRIPT_ROOT + "/new";

  function errorChecker(){
    var count = 0;
    var unacceptable_final = true;
    var negative_km = false;
    var unacceptable_max = false;
    var NaN_miles = false;
    var distance = Number($('form').find("select[name='distance']").val());
    var max_distance = distance * 1.2;

    // Loop through each row in the table
    $('table tr').each(function(index){
      // Ignore table header row
      if (index != 0){
        // Get the textual length of the input for miles
        var len_miles = $(this).find("input[name='miles']").val().length;
        var miles = Number($(this).find("input[name='miles']").val());
        var km = Number($(this).find("input[name='km']").val());
        // Check if there was an entry in the miles input
        if (len_miles != 0){
          count += 1;
        }
        // Check if miles is a number
        if (isNaN(miles)){
          NaN_miles = true;
        }
        // Check if there's a control point at least
        // as long as the brevet distance
        if (km >= distance){
          unacceptable_final = false;
        }
        // Check if there are any negative controls points
        if (km < 0){
          negative_km = true;
        }
        // Check if there are any control points 20% greater
        // than the brevet distance
        if (km > max_distance){
          unacceptable_max = true;
        }
      }
    })

    return_obj = {
      'count': count,
      'NaN_miles': NaN_miles,
      'unacceptable_final': unacceptable_final,
      'negative_km': negative_km,
      'unacceptable_max': unacceptable_max
    }
    return return_obj;
  }

  $('form').submit(function(event) {
    var distance = Number($(this).find("select[name='distance']").val());
    obj = errorChecker();
    // If there were no rows with input, alert an error
    if (obj['count'] == 0) {
      // Don't send the data to the server
      event.preventDefault();
      alert("ERROR: No data to be submitted");
    }
    else if (obj['NaN_miles']) {
      event.preventDefault();
      alert("ERROR: Miles must be a number");
    }
    // If a negative control point is submitted, alert an error
    else if (obj['negative_km']){
      event.preventDefault();
      alert("ERROR: Control distances must be greater than or equal to 0km");
    }
    // If there is not a control point at least as long as the brevet distance
    // alert an error
    else if (obj['unacceptable_final']) {
      event.preventDefault();
      alert("ERROR: Final control point must be at least " + distance + "km");
    }
    else if (obj['unacceptable_max']) {
      event.preventDefault();
      alert("ERROR: Submitted distances can't be greater than 20% larger than the brevet distance");
    }
    // Otherwise, send data to server
    else {
      // Unbind first to eliminate infinite loop issue
      $(this).unbind();
      $(this).submit();
    }
  })

  // Handle display handleOnClick
  function handleOnClick() {
    location.replace("http://localhost:5000/display")
  }

  // On keyup in the miles entry, convert miles to km and call calc_times
  $("input[name='miles']").keyup(function(event) {
    // Check for valid input
    if (isNaN($(this).val())){
      return
    }
    // Conversion calculation
    var miles = parseFloat($(this).val());
    var km = (1.609344 * miles).toFixed(1) ;
    console.log("Converted " + miles + " miles to " + km + " kilometers");

    // Establish where to store the calculation
    var control_entry = $(this).parents(".control")
    var target = control_entry.find("input[name='km']");

    // Store the calculation
    target.val( km );

    // Call calc_times for the server to send us data on brevet open and close times
    calc_times(control_entry);
  });


  // On keyup in the km entry, convert km to miles and call calc_times
  $('input[name="km"]').keyup(function(event) {
    // Check for valid input
    if (isNaN($(this).val())){
      return
    }
    // Conversion calculation
    var km = parseFloat($(this).val());
    var miles = (0.621371 * km).toFixed(1) ;
    console.log("Converted " + km + " km to " + miles + " miles");

    // Establish where to store the calculation
    var control_entry = $(this).parents(".control")
    var target = control_entry.find("input[name='miles']");

    // Store the calculation
    target.val( miles );

    // Call calc_times for the server to send us data on brevet open and close times
    calc_times(control_entry);
  });

  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.)
  function calc_times(control) {
    // Obtain values given by the user
    var km = Number(control.find("input[name='km']").val());
    var distance = Number(document.getElementById("brevet_dist_km").value);
    var date = document.getElementById("begin_date").value;
    var time = document.getElementById("begin_time").value;
    var datetime = date + "T" + time;

    // Obtain location of where to store the servers calculations
    var open_time_field = control.find("input[name='open']");
    var close_time_field = control.find("input[name='close']");
    var notes_field = control.find("[class='notes']");

    // Establish a maximum distance
    var max_km = distance * 1.2;
    if (km < 0){
      open_time_field.val("");
      close_time_field.val("");
      notes_field.html("Negative control distances are not allowed.");
      return;

    }
    // If the given km is greater than the established max distance, display an error
    else if (km > max_km) {
      open_time_field.val("");
      close_time_field.val("");
      notes_field.html("This control point (" + km + " km) is over 20% longer than the theoretical distance (" + distance + " km): error in selecting units?");
    }

    else if (isNaN(km)){
      open_time_field.val("");
      close_time_field.val("");
      notes_field.html("Km field is not a number.");
      return;
    }


    // If the given km is within the max distance, calculate times appropriately
    else {
    $.getJSON(TIME_CALC_URL, { km: km, dist: distance, datetime: datetime },
      // response handler
      function(data) {
         var times = data.result;
         console.log("Got a response: " +  times);
         console.log("Response.open = " + times.open);
         notes_field.html("");
         open_time_field.val( moment(times.open).format("ddd M/D H:mm"));
         close_time_field.val( moment(times.close).format("ddd M/D H:mm"));
       } // end of handler function
     );// End of getJSON
    }
};

</script>

</div>
</body> </html>
